<div class="container">
  <div class="registro">
    <h1>Usuarios</h1>
    <p> {{conectado ? "Se ha conectado" : "No se ha conectado" }}</p>
    <p> {{error ? "Hubo un error al conectarse" : "" }}</p>
    <input type="text" id="token" placeholder="Token" [(ngModel)]="token" />
    <input type="button" id="sendmessage" value="Send" (click)="unirse()" />
    <ul #usuariosLista></ul>
  </div>

  <div class="container-empresa">
    <h1>Empresa</h1>
    <ul #empresaLista></ul>
  </div>

  <div class="container-sucursal">
    <h1>Sucursal</h1>
    <ul #sucursalLista></ul>
  </div>

  <div class="container-socio">
    <h1>Socio</h1>
    <ul #socioLista></ul>
  </div>
</div>